.HomeButtons {
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.HomeButtons:hover {
  background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.Outer {
  position: absolute;
  width: 1000px;
  height: 500px;
  background-color: lightblue;
}

.Line {
  position: absolute;
  left: 25%;
  height: 100%;
  border-left: 0.05vh solid black;
}

.Roll {
  position: absolute;
  top: 93%;
  left: 18%;
  width: 50px;
  height: 30px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  overflow: hidden;
  background-color: #ffa500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Roll:hover {
  background-color: rgba(255, 165, 0, 0.7);
  background-image: linear-gradient(315deg, rgba(255, 165, 0, 0.7) 0%, rgba(255, 140, 0, 0.7) 74%);
  color: #000;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, 0.2), 
              inset -4px -4px 6px 0 rgba(255,255,255,0.5),
              inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.Roll:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.Roll:hover:after {
  transform: scale(1.1);
  background-color: rgba(255, 165, 0, 0.8);
}

.Dice {
  position: absolute;
  top: 94%;
  left: 11%;
  width: 20px;
  height: 20px;
}

.Space {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0.05vh solid black;
  background-color: white;
}

.Space:hover {
  background-color: lightgray;
}

.Font {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  height: 100%;
  width: 100%;
}

.ID {
  position: absolute;
  right: 0%;
  width: 15px;
  background-color: lightcoral;
  color: white;
  font-size: small;
  text-align: right;
}

.Return {
  position: absolute;
  top: 93%;
  left: 2%;
  width: 30px;
  height: 30px;
}

.RulesIcon {
  position: absolute;
  top: 93%;
  left: 2%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.RulesIcon:hover {
  animation: bounce 0.5s infinite;
}

.Rules {
  position: absolute;
  top: 25px;
  left: 280px;
  width: 640px;
  height: 450px;
  background-color: darkslateblue;
  color: white;
  border: 0.5vh solid grey;
}

.Surrender {
  position: absolute;
  top: 95%;
  left: 93%;
  width: 60px;
  height: 20px;
  font-size: 10px;
  background-color: red;
  color: white;
}

.Surrender:hover {
  background-color: black;
}

.MarketBoard {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 400px;
  height: 250px;
  background-color: lightgreen;
  border: 0.4vh solid black;
}

.PropertiesBoard {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 400px;
  height: 250px;
  background-color: lightsalmon;
  border: 0.4vh solid black;
}

.ChanceBoard {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 400px;
  height: 250px;
  background-color: plum;
  border: 0.4vh solid black;
}

.FirstButton {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: white;
  border: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.SecondButton {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: white;
  border: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.ThirdButton {
  position: absolute;
  top: 20%;
  left: 75%;
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: white;
  border: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.FourthButton {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: white;
  border: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.FifthButton {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: white;
  border: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}