.Home{
  text-align: center;
}

.HomeButtons {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Outer {
  position: absolute;
  width: 1000px;
  height: 500px;
  background-color: lightblue;
}

.Line {
  position: absolute;
  left: 25%;
  height: 100%;
  border-left: 0.05vh solid black;
}

.Roll {
  position: absolute;
  top: 93%;
  left: 18%;
  width: 50px;
  height: 30px;
  font-size: 10px;
}

.Dice {
  position: absolute;
  top: 94%;
  left: 11%;
  width: 20px;
  height: 20px;
}

.Space {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0.05vh solid black;
  background-color: white;
}

.Font {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  height: 100%;
  width: 100%;
}


.ID {
  position: absolute;
  right: 0%;
  width: 15px;
  background-color: lightcoral;
  color: white;
  font-size: small;
  text-align: right;
}

.Return {
  position: absolute;
  top: 93%;
  left: 2%;
  width: 30px;
  height: 30px;
}