.App{
  text-align: center;
}

.Home {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Outer {
  position: relative;
  width: 200vh;
  height: 100vh;
  background-color: lightblue;
}

.Inner {
  position: absolute;
  top: 5vh;
  left: 10vh;
  width: 180vh;
  height: 90vh;
  background-color: white;
}

.Line {
  position: absolute;
  left: 23%;
  height: 100%;
  border-left: 0.05vh solid black;
}

.Return {
  position: absolute;
  top: 93%;
  left: 1%;
  width: 5vh;
  height: 5vh;
}

.ID {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0.5vh 1vh;
  border-radius: 50%;
  background-color: lightblue;
  color: white;
}